@font-face {
    font-family: archive;
    src: url("../fonts/Archive.otf");
}

.pt-container {
    position: relative;
    width: 100%;
    height:auto;
    display: inline-block;
    min-height: 300px;
    border: 1px solid #525252;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    margin-bottom: 30px;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
}

.pt-img {
    max-height: 100%;
    max-width: 100%;
}

.pt-table-container {
    display: table;
    width: 100%;
    min-height: 300px;
    vertical-align: middle;
}

.pt-cell-container {
    display: table-cell;
    vertical-align: middle;
}

.header {
    font-family: archive;
    display: inline-block;
    width: 100%;
    position: relative;
}

.header > h1 {
    text-align: center;
    color: #333333;
    text-transform: uppercase;
}